<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'script.js') }}" ></script> 
    <title>Practice</title>
</head>
<body>

    <form action = "/setcookie" method = "POST"> 
        <p><h3>Enter userID</h3></p> 
        <p><input type = 'text' name = 'name'/></p> 
        <p><input type = 'submit' value = 'Login'/></p> 
    </form>

    <a href="/setcookie/getcookie">Click me to see Cookie</a>
    <br><br>
    <input type = "button" onclick = "sayHello()" value = "Say Hello" />


</body>
</html>